:root {
  --font-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  margin: 0;
  font-size: 16px;
  background-color: #000;
}

/* ADDED HEIGHT FOR NAV BAR */
body {
  margin-top: 115px;
}

section > h2 {
  display: none;
}

/* PRIMARY CTA */
.primary-cta-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-cta {
  text-decoration: unset;
  background-color: #9717ff;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  border: unset;
  padding: 16px 73px;
  border-radius: 50px;
  cursor: pointer;
}

.primary-cta:hover {
  background-color: #7313c2;
}

/* SECTIONS */
#latest {
  padding-top: 170px;
}

#latest,
#video,
#merch,
#events,
#contact,
.mailing-list-section {
  /* padding-top: 145px; */
  padding-top: 170px;
}

/* SECTION TITLE */
.section-title {
  color: #ba7de3;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: unset;
}

/* SECTION SUBTITLE */
.section-subtitle {
  color: #fff;
  font-size: 2.75rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 75px 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 70%,
    rgba(151, 23, 255, 1) 100%
  );
  padding: 17px 20px;
}

.nav-container > nav {
  display: flex;
}

.nav-container > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: unset;
  margin-block-end: unset;
  margin-block-start: unset;
  padding-inline-start: unset;
}

.nav-container > nav > ul > li {
  list-style: none;
  margin-right: 25px;
  display: block;
  text-align: unset;
}

.nav-container > nav > ul > li:last-child {
  margin-right: unset;
}

.nav-container > nav > ul > li:hover {
  opacity: 0.75;
  transition: all 0.3s ease;
}

.nav-container > nav > ul > li#sign-up-cta > button {
  text-decoration: unset;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  font-size: 1.313rem;
  text-transform: uppercase;
  display: block;
  border: unset;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.nav-container > nav > ul > li#sign-up-cta:hover {
  opacity: unset;
  transform: scale(0.95);
}

.nav-container > nav > ul > li > a {
  text-decoration: unset;
  color: #fff;
  font-weight: 500;
  font-size: 1.313rem;
  text-transform: uppercase;
  display: block;
}

.nav-logo h1 {
  display: none;
}

.info-banner {
  background-color: #c00be0;
}

.info-banner p {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
}

#hero-video img {
  width: 100%;
  height: calc(100vh - 115px);
  object-fit: cover;
}

.latest-updates-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin: 0 auto 75px auto;
  max-width: 1128px;
}

.latest-updates-container__item > img {
  width: 100%;
}

.yt-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

#video > .yt-video-container:nth-child(4) {
  margin-bottom: 165px;
}

.merch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin: 0 auto 75px auto;
  max-width: 1128px;
}

.merch-container .merch-item > img {
  border-radius: 15px;
  width: 100%;
}

.merch-container .merch-item > img:hover {
  opacity: 0.75;
  transition: all 0.3s ease;
}

.merch-container .merch-item > h5 {
  display: none;
}

.no-events-message {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: unset;
}
